#page-header {
  font-family: Playfair Display;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #333;
  text-align: center;
  margin-bottom: .6em;
}

body {
  color: #333;
  background-color: white;
  font-family: PT Serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  text-align: left;
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-right: 25vw;
  padding-left: 25vw;
}

h3 {
  margin-top: 2em;
  font-family: PT Sans;
}

hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.homepage {
  text-align: left;
  padding-top: 2.5vh;
  padding-right: 4.6vw;
  padding-left: 1vw;
  padding-bottom:  2.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}  

a,
a:visited {
  color: #FF6347;
  text-decoration: none;
}

.institution {
  font-weight: bold;
}

.date {
  text-align: left;
  float: right;
}

.position {
  font-style: italic;
}

ul {
  position: relative;
  display: block;
  margin: 0;
  padding: 0rem;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 2em;
}

.redirect {
  margin-top: 3em;
  text-align: center;
  color: #FF6347;
}

h1 {
  margin-top: -0.5em;
}

.rightcolumn {
  margin-left: auto;
  width: 42.5%;
  padding-top: 12vh;
  padding-bottom: 10vh;
  order: 2;
}

.leftcolumn {
  margin-right: auto;
  width: 51.5%;
  order: 1;

}

#currentlyworking {
  margin-bottom: 0px;
}

/* SMARTPHONES/TABLET STYLE */
@media only screen and (max-width: 1024px) {

  .homepage {
    flex-direction: column;
    justify-content: center;
}  

  .rightcolumn, .leftcolumn {
    display: block;
    margin-left: 0;
    margin-right: 0;
    order: 0;
    padding-bottom: 3vh;
  }
}

